<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>

    <main>
        <h1>
            hello <%= name %>
        </h1>
    </main>
    <%- include('../includes/end.ejs') %>