<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/public/css/forms.css">
<link rel="stylesheet" href="/public/css/product.css">
</head>

<body>
    <main>
        <form class="product-form" action="/people" method="POST">
            <div class="form-control">
                <label for="title">Name List</label>
                <input type="text" name="name" id="name">
            </div>
            <button class="btn" type="submit">Add name</button>
        </form>

        <% if (ppl.length > 0) { %>
        <div class="grid">
            <% for (let people of ppl) { %>
            <h1>
                <%= people.name %>
            </h1>
            <% } %>
        </div>
        <% } else { %>
        <h1>No people Found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>